/* Style Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.3;
}

.container {
    width: 50%;
    margin: 10rem auto;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

form {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
    appearance: none;
    border: none;
    outline: none;
}

#input-url {
    font-size: 1.25rem;
    padding: 0.25rem;
    border: 0.15rem solid #ddd;
    border-radius: 0.25rem;
    transition: 0.1s linear border-color;
}

#input-url:focus {
    border-color: #7B95B7;
    transition: 0.1s linear border-color;
}

#input-submit {
    font-size: 1.125rem;
    padding: 0.5rem;
    background: #3A506B;
    color: #fff;
    border: 0.15rem solid #7B95B7;
    border-radius: 0.25rem;
    margin-left: 0.2rem;
}

.message {
    background: #C0E5C8;
    padding: 0.5rem;
    line-height: 1.5;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    border: 0.2rem solid #9AD6A7;
    border-radius: 0.25rem;
}

.error {
    background: #FEE9AE;
    border-color: #FDD35D;
}

.message h2 {
    font-size: 1.4rem;
}


