.DS_Store
node_modules/
.env

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# personal
.notes.*

# Cloudflare
/target
/dist
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
worker/
.cargo-ok
wrangler.toml
*.code-workspace
